
.sok{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.centrera{
    text-align: center;
}

#searchBar{
    padding: 10px;
    width: 300px;
}

#searchButton{
    padding: 10px;
}

.dbNamn{
    padding: 20px;
    margin-bottom: 5px;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}